<div class="gameScreen"><br>
    <tetris-core #game (lineCleared)="addPoints()" id="tetCore"></tetris-core>
    <p id="playerInfo">Player: {{playerInfo.name}}
        <br>
        E-mail: {{playerInfo.email}}
        <br>
        Points: {{points}}
        <br>
        Game status: {{status}}
        <br>
        time: {{timePassed}}
    </p>
    <button id="logButton" (click)="showLog()">Gameplay Log</button>
    <div class="tetrisButtons">
        <button class="tetrisButton" (click)="game.actionStart()" (click)="startGame()">Start</button>
        <button class="tetrisButton" (click)="game.actionStop()" (click)="pauseGame()">Stop</button>
        <button class="tetrisButton" (click)="game.actionReset()" (click)="resetGame()">Reset</button>
        <br>
        <br>
        <br>
        <button class="tetrisButton" (click)="game.actionLeft()">Left</button>
        <button class="tetrisButton" (click)="game.actionRotate()">Rotate</button>
        <button class="tetrisButton" (click)="game.actionRight()">Right</button>
        <br>
        <button class="tetrisButton" (click)="game.actionDown()">Down</button>

        <br>
        <br>
        <br>
        <button class="tetrisButton" (click)="game.actionStop()" (click)="playerExit.emit()">Exit game</button>
    </div>

    <logScreen [logHistory]="logHistory" *ngIf="logScreenVisibility" (hideLog)="hideLog($event)">

    </logScreen>


</div>