<div class="welcomeScreen" [ngStyle]="{'visibility':isWelcomeVisible}">
    <div class="welcomeMenu">
        <h1>Welcome to Tetris-App!</h1>
        <h2>Enter your name (one word, letters only):</h2>
        <input [(ngModel)]="name" />
        <h2>Enter your e-mail address:</h2>
        <input [(ngModel)]="email" />
        <br />
        <br />
        <br>
        <button id="startButton" (click)="setPlayer(name, email)"
            (click)="passPlayerData.emit([name, email, isGameVisible])">Start</button>
    </div>
</div>