<form [formGroup]="playerForm">
    <input type="text" formControlName="playerName" autocomplete="off">
    <div *ngIf="!playerForm.controls.playerName?.valid && playerForm.controls.playerName?.touched">Wrong format</div>
    <h2>Enter student id:</h2>
    <input type="number" formControlName="playerId" autocomplete="off">
    <br />
    <br />
    <h2>Chose theme color:</h2>
    <select formControlName="themeColor" id="colorSelect">
        <option value="green">Green</option>
        <option value="black-and-white">Black and white</option>
    </select>
    <br />
    <br />
    <button type="button" id="startButton" [ngStyle]="{'background-color': buttonColor}"
        (click)="passPlayerData.emit({name: playerForm.value.playerName, id:playerForm.value.playerId, color:playerForm.value.themeColor})"
        [disabled]='!playerForm.valid'>Start</button>
</form>