<div class="logScreen">
    <div class="custom-select">
        <label id="containerLabel" for="filterCondition">Filter by:</label> <br><br><br>
        <label id="filterLabel">Action type</label>
        <label id="sortLabel">Timestamp</label><br>
        <select id="filterContainer" [(ngModel)]="filterCondition" name="filterCondition">
            <option value="">All</option>
            <option value="start">Game start</option>
            <option value="pause">Game pause</option>
            <option value="reset">Game reset</option>
            <option value="cleared">Line cleared</option>
        </select>
        &nbsp; &nbsp; &nbsp;

        <select id="sortContainer" [(ngModel)]="sortCondition" name="sortCondition">
            <option value="toOldest">From newest to oldest</option>
            <option value="toNewest">From oldest to newest</option>
        </select>
    </div>
    <br><br>
    <tr class="entries" *ngFor="let entry  of logHistory | filterPipe: filterCondition | sortPipe: sortCondition ">
        <td>{{entry}}</td>
    </tr>

    <button id="logBackButton" (click)="hideLog()">Go back</button>
</div>